*.user
*.filters
*.suo
*.sln
*.vcxproj
CChallenge/CChallenge/Debug/CChallenge.log
CChallenge/Debug/CChallenge.exe
CChallenge/CChallenge/cut_off_first_letter.c
CChallenge/CChallenge/Debug/vc141.pdb
CChallenge/CChallenge/Debug/Main.obj
CChallenge/CChallenge/Debug/CChallenge.tlog/link.write.1.tlog
CChallenge/CChallenge/Debug/CChallenge.tlog/link.read.1.tlog
CChallenge/CChallenge/Debug/CChallenge.tlog/link.command.1.tlog
CChallenge/CChallenge/Debug/CChallenge.tlog/CL.command.1.tlog
CChallenge/CChallenge/Debug/CChallenge.tlog/CChallenge.lastbuildstate
CChallenge/Debug/CChallenge.pdb
CChallenge/Debug/CChallenge.ilk
CChallenge/CChallenge/Debug/vc141.idb
CChallenge/CChallenge/Debug/cut_off_first_letter.obj
CChallenge/CChallenge/Debug/CChallenge.tlog/CL.write.1.tlog
CChallenge/CChallenge/Debug/CChallenge.tlog/CL.read.1.tlog
